<div class="text-center">
  <div *ngIf="furl && !uploading">
    Ecco la tua letterina spedita a Babbo Natale<br />
    <img [src]="furl" style="width: 100%; max-width: 500px" />
  </div>
  <div class="container" *ngIf="uploading">
    <h3>Invio in corso ...</h3>
  </div>

  <!--<input class="form-control" type="file" (change)="onChange($event)" />
  <button (click)="onUpload()" class="btn btn-success">Upload</button>-->
  <input hidden (change)="onChange($event)" type="file" #fileInput />
  <button mat-raised-button (click)="fileInput.click()">Carica l'immagine</button>

</div>
