<div>
  <p>Enter your data!</p>
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input #name matInput placeholder="Ex. John Smith" />
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Birth Date</mat-label>
    <input matInput #birthDate [matDatepicker]="picker" />
    <!--<mat-hint>DD/MM/YYYY</mat-hint>-->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br />
  <button mat-raised-button (click)="search(name.value, birthDate.value)">
    Search
  </button>
</div>
<div *ngIf="loaded && me">
  <!-- user loaded-->
  <br />
  <br/>
  <mat-form-field class="example-full-width">
    <mat-label>Address</mat-label>
    <textarea [readonly]=true matInput>{{me.data.address}}</textarea>
  </mat-form-field><br/>
  <br/>
  <app-file-upload></app-file-upload>
</div>
<div *ngIf="loaded && !me">
  <!-- unexisting user -->
  <br />
  USER NOT FOUND - ENTER ADDRESS<br />
  <mat-form-field class="example-full-width">
    <mat-label>Address</mat-label>
    <textarea #addressN matInput placeholder="Ex. Clombe rd 12, 76772 London (GB)"></textarea>
  </mat-form-field><br/>
  <button mat-raised-button (click)="add(name.value, birthDate.value, addressN.value)">
    Add
  </button>

</div>
<div *ngIf="!loaded"></div>
