<div>
  <p>Ciao! Inserisci i tuoi dati per spedire la letterina a Babbo Natale!</p>
  <mat-form-field class="example-full-width">
    <mat-label>Nome</mat-label>
    <input #name matInput placeholder="Ex. Marco" />
  </mat-form-field>
  &nbsp;
  <mat-form-field class="example-full-width">
    <mat-label>Cognome</mat-label>
    <input #surname matInput placeholder="Ex. Rossi" />
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Data di nascita</mat-label>
    <input matInput #birthDate [matDatepicker]="picker" />
    <!--<mat-hint>DD/MM/YYYY</mat-hint>-->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  &nbsp;
  <button mat-raised-button (click)="search(name.value, surname.value, birthDate.value)">
    Cerca
  </button>
</div>
<div *ngIf="loaded && me">
  <!-- user loaded-->
  <br />
  <br/>
  <mat-form-field class="example-full-width">
    <mat-label>Indirizzo</mat-label>
    <textarea [readonly]=true matInput>{{me.data.address}}</textarea>
  </mat-form-field><br/>
  <br/>
  <app-file-upload></app-file-upload>
</div>
<div *ngIf="loaded && !me">
  <!-- unexisting user -->
  <br />
  Non hai ancora inviato la letterina? Inserisci il tuo indirizo<br />
  <mat-form-field class="example-full-width">
    <mat-label>Indirizzo</mat-label>
    <textarea #addressN matInput placeholder="Ex. Via della Pace 45, 12345 Roma (IT)"></textarea>
  </mat-form-field><br/>
  <button mat-raised-button (click)="add(name.value, surname.value, birthDate.value, addressN.value)">
    Salva
  </button>

</div>
<div *ngIf="!loaded"></div>
